.product-card {
    width: 350px;
    margin: 0px 0px 20px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-img{
    width: 350px;
    height: 250px;
    /* margin: 5px; */
}
@media screen and (max-width: 767px) {
    .product-card {
        width: 420px;
    }
    .product-img{
    width: 420px;
    }
}


